@import '../variables';

.gov-banner {
    height: 92vh;
    padding: 100px 170px;

    .btn {
        padding: 21px 55px;
        font-size: 24px;
        font-weight: 600;
    }
}

.big-title {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 30px;
    width: 65%;

    span {
        color: $primary;
    }
}

.gov-content {
    font-size: 36px;
    color: $secondary;
    width: 75%;
    margin-bottom: 68px;
}